@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #151719;
}

.purple-gradient {
  /* Create a gradient text effect */
  background: linear-gradient(
    90deg,
    rgba(246, 246, 247, 1) 0%,
    rgba(9, 8, 237, 1) 100%,
    rgba(221, 224, 233, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; /* Hide the original text color */
}
